

.about-me{
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (min-width:1024px) {
    html,body{
        height: 100%;
    }

    .about-me{
        height: 45%;
        margin-top: 10%;
    }

    .about-me .container{
        margin: auto;
        width: 60%;
        /* align-items: center; */
    }
}