.blog-post{
    background-color: #FBFCFD;
    padding-left: 10%;
    padding-right: 10%;
}

.blog-post .left{
    text-align: center;
}

.blog-post .container{
    display: flex;
    flex-direction: column;
}

.blog-post .container .cards-container{
    flex-wrap: wrap;
}

.blog-post .container .cards-container .card-item-b{
    padding: 15px 5px;
    width: 50%;
    /* margin: 0; */
}

.blog-post .container .cards-container .card-inner-b {
    min-width: 300px;
    min-height: 200px;
    max-width: 350px;
    width: 100%;
    background-color: white;
    margin: 0;
} 

.blog-post .container .cards-container .card-inner-b .photo {
    width: 100%;
}

#small-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blog-card-text{
    padding: 5px 10px;
}

#line {
    width: 100%;
}

@media screen and (min-width: 1024px){
    .blog-post .container {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
    }

    .blog-post .container .left{
        max-width: 20%;
        top: 0;
    }
    
    .blog-post .container .cards-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: 60%;
    }

    #first{
        padding-top: 10%;
    }

    #second{
        padding-top: 15%;
        padding-bottom: 0;
    }
}

@media screen and (max-width:1023px) {

    .blog-post .container{
       align-items: center;
    }
    
}
