.brands{
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}

.brands .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands .container img{
    width: 100%;
    max-width: 150px;
    height: 150px;
}

@media screen and (min-width: 1024px){
    .brands .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
}

