.custom-section{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FBFCFD;
}

.custom-section .container .button-shape{
    padding: 22px 50px;
    border-radius: 30px;
}


.custom-section .container .button-shape .text-c {
    color: var(--primary-light-blue);
}

.custom-section .container .button-shape .text-c:hover {
    color: white;
}

@media screen and (max-width: 1024px) {
    .custom-section .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
}

@media screen and (min-width: 1024px){
    .custom-section .container{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 60%;
    }
}
