.experience{
    background-color: #F8F8F8;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.experience .container{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experience .container .card_item{
    padding: 15px 5px;
    width: 50%;
}

.experience .container .card-inner {
    display: flex;
    min-width: 200px;
    min-height: 180px;
    width: 100%;
    background: #FFFFFF;
}

.experience .container .card-inner img{
    width: 6em;
    height: 6em;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1024px){
    .experience .container .card_item{
        width: 100%;
    }
}

@media screen and (max-width: 568px){
    .experience .container .card-inner {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        min-height: 180px;
        width: 100%;
        background: #FFFFFF;
        align-items: center;
    }      
}