.footer{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.footer .container .card-f{
    padding: 5px 5px;
    min-width: 150px;
    width: 100%;
}

.footer .container .card-f a {
    color: var(--primary-light-blue);
}

.icons img{
    margin-right: 15px;
}

.space{
    margin-right: 10px;
}

.ab-tech{
    font-size: 32px;
    color: black;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .footer .container{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
    }   

    .footer .container .card-f{
        padding: 5px 5px;
        min-width: 150px;
        width: 100%;
    }
    

    .footer .container .card-f li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}