*{
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: #3d37f1;
    --primary-light-blue: #4b647e;
    --text-color: #808080;
}

body{
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

h1{
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

h3{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

h4{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

.button-shape{
    background-color: white;
    border: 1px solid var(--text-color);
    color: var(--primary-light-blue);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 18px;
    font-size: 15px;
}

.button-shape:hover{
    background-color: #3d37f1;
    border: none;
    color: white;
}

.gradiant {
    background-image: linear-gradient(to right,var(--primary-blue),#a5a2f6);
    border: none;
    color: white;
}

.blue {
    color: var(--primary-blue);
}
