*{
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: #3d37f1;
    --primary-yellow: #ffba3f;
    --primary-light-blue: #4b647e;
    --secondary-brown: #5a5454;
    --secondary-gray: #747474;
    --secondary-light-gray: #969ca2;
    --text-color: #808080;
}

body{
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}

h2{
    font-size: 40px;
}

h3{
    font-size: 22px;;
}

h4{
    font-size: 20px;
}

a{
    text-decoration: none;
}