:root {
    --primary-blue: #3d37f1;
    --primary-yellow: #ffba3f;
    --primary-gray: #4b647e;
    --secondary-brown: #5a5454;
    --secondary-gray: #747474;
    --secondary-light-gray: #969ca2;
    --text-color: #808080;
}

body{
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}

.header .container {
    display: flex;
    flex-direction: column;
}