.review{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.review .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review .container .arrows-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.review .container .arrows-container .arrow{
    width: 50px;
    height: 50px;
    margin: auto;
    width: 10%;
}



.review .container #customer-review{
    margin-top: 2em;
    padding: 5px 20px;
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    width: 100%;
    background-color: white;
}


.job{
    color: var(--primary-light-blue);
}

#pic3 {
    margin: 30px 0px;
}

#customer-review-inner{
    width: 100%;
}


@media  screen and (max-width:760px) {
    .profile-pics #pic1,#pic2,#pic4,#pic5{
        display: none;
    }

    .review .container .arrows-container .arrow{
        display: none;
    }
}