.service{
    background-color: #FBFCFD;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.service .text {
    font-size: 18px;
}

.service h4 {
    padding: 2em;
    padding-bottom: 0;
}

.service .container{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service .container .card_item{
    padding: 15px 25px;
    width: 33%;
}

.service .container .card-inner{
    background: #FFFFFF;
    text-align: center;
    padding: 35px 20px;
    min-width: 190px;
    min-height: 315px;
    width: 100%;
}

.container .card-inner img{
    width: 101px;
    height: 101px;
    margin-bottom: 30px;
}

.container .card-inner .name{
    font-size: 22px;
}


@media screen and (max-width: 1024px){
    .service .container .card_item{
        width: 50%;
    }
}

@media screen and (max-width: 568px){
       
    .service .container .card_item{
        width: 100%;
        padding: 0px 0px;
    }
}
