.top-pick {
    background-color: #F8F8F8;
    text-align: center;
}

.tp-container{
    display: flex;
    flex-direction: column;
}


.top-pick .tp-container .container{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-pick .tp-container .container .card-item{
    padding: 15px 5px;
    width: 50%;
}

.top-pick .tp-container .container .card-inner {
    padding: 35px 20px;
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    background-color: white;
}

.scroll {
    display: none;
}

@media screen and (max-width: 568px){
    .top-pick .tp-container .container .card-item{
        width: 100%;
    }
}